.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  max-width: 332px;
  width: 100%;
}

@media (max-width: 991px) {
  .about-me {
    flex-direction: row;
    flex-direction: row-reverse;
  }

  .profile-img {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .about-me {
    flex-direction: column;
  }

  .profile-img {
    width: 280px;
  }
}
